$orange: #ffa500; 

.popular-products-container {
  margin: 0 auto;
}

.popular-products {
  display: flex;
  justify-content: flex-start;
  overflow-x: scroll; 
  padding-bottom: 20px;
  -ms-overflow-style: none;
  // gap: 20px;
}

.popular-products::-webkit-scrollbar {
  display: none; 
}

.product-card {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  max-width: 800px; 
  margin: 10px;
  padding: 15px;
  border-radius: 12px;
  background-color: lighten(#fff, 10%);
  box-shadow: 0 0 10px $orange;
  transition: transform 0.3s;
}

.product-card:hover {
  transform: translateY(-5px);
}

.product-card img {
  margin-top: 20px;
  max-width: 150px;
  border-radius: 8px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.product-card .label {
  position: absolute;
  top: 5px;
  right: 5px;
  background-color: $orange;
  color: #fff;
  padding: 5px;
  border-radius: 8px;
}

.product-card h3 {
  font-size: 1.2em;
  color: $orange;
  text-align: center; 
  margin-top: 20px; 
}

.product-card .rating {
  margin-top: 12px; // Adjust as needed
  color: #333;
}
