@import '../variables';

$primary-color: $orange;

.TimePicker {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  font-family: 'Arial', sans-serif;

  h4 {
    margin-bottom: 8px;
    font-size: 18px;
    color: $primary-color;
  }

  input {
    padding: 8px;
    font-size: 14px;
    border: 2px solid $primary-color;
    border-radius: 10px;
    outline: none;

    &:hover,
    &:focus {
      border-color: darken($primary-color, 10%);
      cursor: pointer;
    }
  }
}
